.chances {
  padding-top: 160px;
  padding-bottom: 182px;
  background-image: url("../../images/chances.png");
  background-repeat: no-repeat;
  background-position: 0 30%;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -30px;
  }

  &__item {
    margin-left: 30px;
  }

  // &__item {
    //   display: flex;
    //   flex-direction: column;
    // }

    // &__item::after {
      //   content: "";
      //   height: 15px;
      //   width: 254px;
      //   background-image: url(../../images/chances.png);
      //   background-repeat: no-repeat;
      // }

      &__heading {
        margin: 0;
        margin-top: 40px;
        margin-bottom: 45px;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
      }

      &__desc {
        margin: 0;
        font-size: 15px;
        line-height: 25px;
        max-width: 350px;
      }

    }

    @media only screen and (max-width: 989px){
      .chances{
        background-image: none;
        padding-top: 112px;
        padding-bottom: 145px;

        &__list {
          flex-direction: column;
          margin-left: 0;
          margin-top: -40px;
        }

        &__item{
          display: flex;
          align-items: center;
          margin-left: 0;
          margin-top: 40px;
        }

        &__wrapper {
          margin-left: 79px;
        }

        &__heading {
          font-size: 24px;
          line-height: 28px;
          margin-top: 0;
          margin-bottom: 27px;
        }
      }
    }

    @media only screen and (max-width: 500px){
      .chances {
        padding: 120px 0;

        &__list {
          margin-top: -48px;
        }

        &__item {
          flex-direction: column;
          margin-top: 48px;
        }

        &__wrapper {
          margin-left: 0;
        }

        &__heading {
          margin-top: 24px;
          margin-bottom: 24px;
          text-align: center;
        }

        &__desc {
          text-align: center;
        }
      }
    }