.hero {
  background-image: url("../images/hero-backround.png");
  background-repeat: no-repeat;
  background-position: calc(50%);
  padding-top: 153px;
  padding-bottom: 152px;

  &__heading {
    margin: 0;
    max-width: 500px;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
  }

  &__wrapper {
    margin-left: 95px;
  }

  &__desc{
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    max-width: 405px;
  }

}

// @media only screen and (max-width: 1200px){
//   .container {
//     max-width: 960px;
//   }

// }

@media only screen and (max-width: 992px){
  // .container {
  //   max-width: 720px;
  // }
  .hero {
    padding-top: 137px;
    padding-bottom: 217px;

    background-image: url("../images/hero-bacround-tablet.png");
    background-repeat: no-repeat;
    background-position: calc(50%);
    background-size: contain;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      text-align: center;
      margin: 0 auto;
    }

    &__wrapper {
      margin-left: 0;
    }

    &__desc  {
      text-align: center;
      margin: 0 auto;
      margin-top: 24px;
      margin-bottom: 32px;
    }

  }
}

// @media only screen and (max-width: 700px){
//   .container {
//     max-width: 540px;
//   }

// }




@media only screen and (max-width: 576px){
  // .container {
  //   max-width: 100%;
  // }

  .hero {
    padding-top: 119px;
    padding-bottom: 179px;
    background-image: url("../images/backround-hero-mobile.png");
    background-repeat: no-repeat;
    background-position: calc(50%);
    background-size: contain;

    &__heading {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.78571px;
    }


  }


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  // .hero{
    //   background-image: url("../images/hero-backround@2x.png");

    // }



    @media only screen and (max-width: 992px){
      // .container {
      //   max-width: 720px;
      // }
      .hero {
        background-image: url("../images/hero-bacround-tablet@2x.png");
      }
    }


    @media only screen and (max-width: 576px){
      // .container {
      //   max-width: 100%;
      // }

      .hero {
        background-image: url("../images/backround-hero-mobile@2x.png");
      }
    }

  }